{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="container-lg post_list">
    {% for post in posts %}
        <div class="row post">

            <div class="col-12 col-sm-4">
                {% if post.image %}
                    <div class="image"> 
                        <img src="{% get_media_prefix %}{{ post.image }}"/>
                    </div>
                {% endif %}
            </div>

            <div class="col-8">
                <div class="date">
                    {{ post.published_date }}
                </div>
                <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}               